body {
  background-color: #4d4d4d;
}
.register {
  width: 30%;
  text-align: center;
  padding-top: 50px;
  margin-left: 35%;
}
.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.text-primary {
  color: white;
}
.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
/* Forms */
.form {
  background-color: #dddddd;
  border-radius: 5px;
  border-color: #6e6d6d;
  justify-content: center;
}
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}
.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.InputElement {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.InputElement:focus {
  outline: none;
  background-color: #ccc;
}
.button-reg {
  background-color: #1d1d1d;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #888;
  padding: 5px;
  margin-bottom: 10px;
  transition: color 0.25s ease-in-out;
}
.button-reg:hover {
  color: white;
}
.btn {
  display: inline-block;
  /* background: var(--light-color); */
  color: #919191;

  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-left: 0.5rem;
  transition: color 0.25s ease-in-out;
  outline: none;
}
.btn:hover {
  color: white;
}
table {
  justify-content: center;
  font-family: arial, sans-serif;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

td,
th {
  border: 1px solid #dddddd;

  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
